.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-head {
  background-color: #343a40;
  color: #fff;
  padding: 30px 0 30px 0;
}

.app-head h1 {
  display: inline;
  font-weight: 300;
  margin-left: 15px;
}

.app-form {
  padding-top: 20px;
}
.app-amount-container {
  font-size: 35px;
  font-family: 'Gill Sans', sans-serif;
  /* 'Times New Roman', Times, serif; */
  font-weight: 600;
  color: #343a40;
  /* #002d5a; */
  margin-top: 10px;
  margin-bottom: 30px;
}
/* -------------------Мутация массива-------------------------------- */
.app-mutate-book {
  display: flex;
  justify-content: center; /* Выравнивание элементов по центру горизонтально */
  align-items: center; /* Выравнивание элементов по центру вертикально */
  gap: 20px; /* Отступ между элементами */
}
/* -----------------------Стилизация карточки------------------------------ */
.app-card {
  min-height: 320px;
  max-height: 350px;
  width: 190px;
  /* border-radius: 1rem; */
  border: 1px solid #c0cccf;
  cursor: pointer;
}

.app-card-img {
  width: 100%;
  height: 228px;
}
.app-card-title {
  font-size: smaller;
  font-style: italic;
  margin: 0;
}

.app-card-price {
  font-size: smaller;
  font-style: italic;
  margin: 0;
  /* text-align: left;
  padding-left: 5px;
  padding-right: 10px; */
  /* font-weight: bold; */
}

/* ----------------------------Button------------------------------------------- */
.app-button-getmore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: 1px solid rgb(252, 229, 229);
  height: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 50px;
  background-color: #eee4e4;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

/* --------------------------Modal window------------------------------ */

/* .overlay {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-inner {
  background: white;
  width: 700px;
  height: 550px;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.3rem;
}
.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  outline: none;
  border: none;
  font-size: 17px;
  background-color: transparent;
}
.inner-box {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.info {
}
.desciption {
  margin-top: 2rem;
  text-align: justify;
  font-size: 13px;
}
.overlay-inner .inner-box img {
  margin-right: 20px;
  width: 150px;
  height: 200px;
}
.overlay-inner .inner-box h3 {
  margin-top: 10px;
  color: green;
}
.overlay-inner .inner-box h4 {
  color: blue;
} */

.overlay {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-inner {
  background: white;
  width: 700px;
  height: 550px;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.3rem;
}
.overlay-inner .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  outline: none;
  border: none;
  font-size: 17px;
  background-color: transparent;
}
.overlay-inner .inner-box {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.overlay-inner .inner-box img {
  margin-right: 20px;
  width: 150px;
  height: 200px;
}
.overlay-inner .inner-box h3 {
  margin-top: 10px;
  color: green;
}
.overlay-inner .inner-box h4 {
  color: blue;
}
.overlay-inner .inner-box button {
  outline: none;
  border: none;
  width: 100px;
  border-radius: 5px;
  background-color: #24a0ed;
  color: white;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
}
.overlay-inner .description {
  margin-top: 2rem;
  text-align: justify;
  font-size: 13px;
}

/* -----------------------------New Modal styles--------------------------------------- */

/* -------------------------------Error styles---------------------------------------------- */
.app-error {
  padding-top: 200px;
}
